---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import BasicScripts from "@components/basicscripts.astro";
import CustomStyles from '@components/customstyles.astro';
import Navbar from "@components/navbar/navbar.astro";
import '@assets/styles/tailwind.css';
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const makeTitle = '孙伟伟律师 | 青岛刑事律师';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description={makeTitle}
      canonical={canonicalURL}
    />
  </head>
  <body class="bg-page">
    <Navbar />
    <BasicScripts />
    <CustomStyles />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
